<h1>Tenants#show</h1>
<p>Find me in app/views/tenants/show.html.erb</p>
<p class="  align-items-center justify-content-center text-start fw-bolder  text-uppercase ">
    <%=link_to '<i class="bi-arrow-left-circle text-black  text-center fa-2x  "></i>' .html_safe , dashboard_url%>
</p>