<main class=" pt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-white">
                <h4>Dashboard</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mb-3">
                <div class="card text-black text-center fw-bold h-100"
                    style="border:2px dashed rgb(229, 110, 44);background:rgb(255, 247, 234);">
                    <div class="card-body py-5"> <span class="me-2">

                            <i class="bi bi-plus"></i></span>Create
                        Units</div>

                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card  text-center fw-bold text-dark h-100"
                    style="border:2px dashed rgb(229, 110, 44);background:rgb(255, 247, 234);">
                    <div class="card-body py-5"> <span class="me-2">
                            <%=link_to '<i class="bi bi-plus"></i></span>Invite Tenants'
                                .html_safe,new_tenant_path,class:""%>

                        </span>
                    </div>

                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card  text-center fw-bold text-black h-100"
                    style="border:2px dashed rgb(229, 110, 44);background:rgb(255, 247, 234);">
                    <div class="card-body py-5"> <span class="me-2"><i class="bi bi-plus"></i></span>Create Lease</div>

                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card text-center fw-bold text-black h-100"
                    style="border:2px dashed rgb(229, 110, 44);background:rgb(255, 247, 234);">
                    <div class="card-body py-5"> <span class="me-2"><i class="bi bi-plus"></i></span> Create a Ticket
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <div class="card h-100">
                    <div class="card-header">
                        <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                        Units Status
                    </div>
                    <div class="card-body">
                        <canvas class="chart" width="400" height="200"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="card h-100">
                    <div class="card-header">
                        <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                        Property Revenue collection
                    </div>
                    <div class="card-body">
                        <canvas class="chart" width="400" height="200"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-3">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-content-center text-center">
                        <div> <span><i class="bi bi-table me-2"></i></span> Property House Occupants</div>
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Tamirat Court ...tenants"
                                aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example" class="table table-dark table-hover table-striped data-table"
                                style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Position</th>
                                        <th>Office</th>
                                        <th>Age</th>
                                        <th>Start date</th>
                                        <th>Salary</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Tiger Nixon</td>
                                        <td>System Architect</td>
                                        <td>Edinburgh</td>
                                        <td>61</td>
                                        <td>2011/04/25</td>
                                        <td>$320,800</td>
                                    </tr>


                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Name</th>
                                        <th>House No</th>
                                        <th>Office</th>
                                        <th>Age</th>
                                        <th>Start date</th>
                                        <th>Salary</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>